<style>
    body{
        overflow: auto;
    }
    main{
        overflow: auto;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: calc(100vh - var(--menu_h_height));
        width: var(--100vw);
        transform: translateY(var(--menu_h_height));
        position: relative;
    }
    main div{
        text-align: center;
    }
    div.menu{
        display: none;
    }
    #pen{
        font-size: 1.5em;
        cursor: pointer;
    }
    #pen:hover{
        filter: brightness(0.75);
    }
    .iniciada{
        position: absolute;
    }
    img{
        aspect-ratio: 5/3;
        object-position: top;
        object-fit: cover;
        width: 25rem;
        max-width: 75%;
        border-radius: .9375rem;
        box-shadow: 0 0 .9375rem black;
        
    }
    #msg img{
        filter: brightness(0.5);
    }
    #pen.playing{
        animation: inverte 1s infinite alternate-reverse linear;
    }
    #estatisticas{
        position: absolute;
        top: 0;
        left: 0;
        text-align: left;
        padding: 5px;
        pointer-events: none;
    }
    #tempo{
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        padding: 5px;
        pointer-events: none;
    }
</style>
<div id="msg" class="naoselecionavel">
    <p>Error: 404</p>
    <img src="/assets/imgs/manoel_triste.jpeg" alt="Manoel Gomes triste">
    <h1>Infelizmente não Encontramos essa página</h1>
    <p>pegue essa caneta como pedido de desculpas: </p>
</div>
<div class="invisivel naoselecionavel" id="estatisticas">
    <h1>pontuação: <span id="pontuacao"></span></h1>
    <p>recorde atual: <span id="recorde"></span></p>
    <p>recorde global: <span id="global">0</span></p>
    <p>Precisão: <span id="count">100</span>%</p>
    <form action="" method="post"></form>
</div>
<div id="parabens" class="invisivel naoselecionavel">
    {{!-- <button>LeaderBoard</button>
    <button>Cadastrar Score</button>
    <br> --}}
    <img src="/assets/imgs/manoel_feliz.jpeg" alt="Manoel Gomes feliz">
    <h1>Parabéns você pegou <span></span> canetas</h1>
    <p>pegue essa caneta para recomeçar o jogo: </p>

</div>
<h1 id="tempo" class="invisivel naoselecionavel"></h1>
<i class="bi bi-pen-fill naoselecionavel" id="pen" onclick="App.pegar()"></i>
<script>
    let App = {};
    (function(){
        const pen = document.getElementById('pen')
        const msg = document.getElementById('msg')
        const estatisticas = document.getElementById('estatisticas')
        const tempo = document.getElementById('tempo')
        const parabens = document.getElementById('parabens')
        const conta = document.getElementById('count')
        var pontos = 0
        var recorde = 0
        var restante = 30
        var clicks = 0
        document.addEventListener('click',()=>{
            if(pen.classList.contains("playing")){
                clicks+=1
                conta.innerHTML=(pontos/clicks*100).toFixed(2)
            }
        })
        App.pegar=function(){
            if(!pen.classList.contains("playing")){
                if(!parabens.classList.contains("invisivel")){
                    parabens.classList.add("invisivel")
                }
                tempo.innerText=restante
                restante=30
                msg.style.display='none'
                pen.classList.add('playing')
                pen.style.position="absolute"
                estatisticas.classList.remove('invisivel')
                tempo.classList.remove('invisivel')
                var intervalo = setInterval(()=>{
                    restante-=1
                    tempo.innerText=restante
                    if(restante==0){
                        pen.classList.remove('playing')
                        pen.style.position="unset"
                        pen.style.color="unset"
                        parabens.classList.remove("invisivel")
                        parabens.querySelector("span").innerText=pontos
                        pontos=0
                        clicks = 0
                        clearInterval(intervalo)
                    }
                },1000)
            }
            console.log(pen.style.top)
            pontos+=1
            if(pontos>recorde){
                recorde=pontos
                estatisticas.querySelector("#recorde").innerText=recorde
            }
            estatisticas.querySelector("#pontuacao").innerText = pontos
            pen.style.top=Math.floor(Math.random() * (90 - 10) + 10)+"%"
            pen.style.left=Math.floor(Math.random() * (90 - 10) + 10)+"%"
            if (isMobileDevice()) {
                pen.style.top=Math.floor(Math.random() * (80 - 10) + 10)+"%"
                pen.style.left=Math.floor(Math.random() * (80 - 10) + 10)+"%"
            }
            pen.style.color="rgb("+Math.floor(Math.random() * 256)+","+Math.floor(Math.random() * 256)+",0)"
        }
    })()
</script>