<style>
    div.menu{
        display: none;
    }
    main{
        transform: translateY(var(--menu_h_height));
    }
</style>
<form action="/fChangePassword" method="post" class="formulario">
    <div >
        <h3>Alterar senha</h3>
        <div>
            <input class="input_user" placeholder=" " type="password" name="senha_atual" value="{{user_name}}" required>
            <p class="label_input_user">Senha atual: </p>
        </div>
        <div>
            <input class="input_user" placeholder=" " type="password" name="senha" id="senha" value="{{senha}}" required oninput="verifica_senha()">
            <p class="label_input_user">Nova senha: </p>
        </div>
        <div>
            <input class="input_user" placeholder=" " type="password" name="confirma_senha" id="confirma_senha" value="{{confirma_senha}}" required oninput="verificar_coerencia()">
            <p class="label_input_user">Confirmar senha: </p>
        </div>
        <div>
            <input type="submit" value="Continuar cadastro">
        </div>
    </div>
</form>
<script src="/js/senha.js"></script>