.checkbox {
    display: inline-block;
    vertical-align: middle;
    
  }
  .checkbox input {
    display:none;
  }
  .checkbox label {
    margin-top: -0.25rem;
    cursor: pointer;
    font-size: 0.75em;
    position: relative;
    padding-left: 1.5em;
    display: inline-block;
  }
  .checkbox label::before {
    content: "";
    display: inline-block;
    
    vertical-align: middle;
    height: 0.75em;
    width: 0.75em;
    margin-right: 0.5em;
    border: .0625rem solid var(--color5);
    transition: all 0.2s ease;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: .125rem;
    transform: translate(0, -50%);
  }
  .checkbox label::after {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 0.40em;
    transform: translate(-50%, -50%);
    font-size: 1em;
    font-weight: 900;
    color: var(--color2);
    opacity: 0;
    transition: all 0.2s ease;
  }
  .checkbox label:focus::before, .checkbox label:hover::before {
    background: #DDD;
  }
  .checkbox input:checked + label::before {
    background: #FFF;
    border-color: #FFF;
  }
  .checkbox input:checked + label::after {
    opacity: 1;
  }