body{
    height: calc(100vh - var(--menu_h_height));
}
main{
    height: 100%;
}
.conta img{ 
    width: 25rem;
}
.conta{
    font-size: 2em;
    display: flex;
    width: var(--100vw);
    height: 100%;
    flex-wrap: wrap;
}
.conta div{
    padding: 1.25rem;
    max-width: 100vw;
    overflow-wrap: break-word;
}
.conta .lateral{
    text-align: center;
    flex-grow: 2;
}
.conta .principal{
    flex-grow: 20;
}
.conta .principal div{
    flex-shrink: 2;
    overflow-wrap: break-word;
    width: 100%;
    flex-basis: 31.25rem;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
input[type="date"]{
    padding: 0rem;
    font-size: 1em;
    background: none;
    border: none;
    color: unset;
    outline: none;
    border-bottom: .125rem solid var(--color2);
}
input.active{
    cursor: text;
}
h1 label{
    font-size: .75em;
    cursor: pointer;
}
input[type="date"]~label{
    position: absolute;
    font-size: 0.75em;
    padding: 0rem;
    cursor: pointer;
    transform: translate(-1em,0.25em);
}
label[for="file"] img{
    cursor: pointer;
    box-shadow: 0 0 .9375rem .125rem black;
    transition: 1s;
    margin-bottom: .9375rem;
}
label[for="file"] img:hover, label[for="file"] img.hover{
    filter: brightness(0.5) blur(500px);
    
}
label[for="file"] img:hover~span, label[for="file"] img.hover~span{
    color: unset;
    border: .3125rem solid white;
}
label[for="file"] span{
    text-align: center;
    transform: translate(-25rem);
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
    line-height: 25rem;
    transition: .5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    color: transparent;
    pointer-events: none;
    border: .3125rem solid transparent;
}
input[type="text"]{
    background: unset;
    color: unset;
    font-size: unset;
    width: unset;
    font-family: unset;
    font-weight: unset;
    border: unset;
    outline: none;
    border-bottom: .125rem solid var(--color2);
}
#width-measure {
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: .3125rem;
}
@media only screen and (max-width: 37.5rem) {
    body {
      font-size: .75em;
    }
    h1{
        font-size: 1.5em;
    }
    .conta img{
        width: 75vw;
    }
    label[for="file"] span{
        width: 75vw;
        height: 75vw;
        line-height: 75vw;
        transform: translate(-75vw);
    }
  }