:root{
    --menu_v_width:250px;
}
ul.menu_h, div.menu{
    width: calc(var(--100vw) - var(--menu_v_width));
}
ul.menu_v{
    width: var(--menu_v_width);
    flex-direction: column;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 15px var(--scrollbar-width) 15px 0;
    align-items: center;
    gap: 20px;
    color: white;
    overflow-y: scroll;
    direction: rtl;
    text-align: left;
}
ul.menu_v input[type=text]{
    border-radius: 5px;
    width: calc(var(--menu_v_width)*0.9);
    outline: none;
    border: none;
    padding: 5px;
    font-size: 1.25em;
    background-color: var(--color5);
    color: white;
    direction: ltr;
}
ul.menu_v li{
    flex-direction: column;
}
label.filtro_tipo_label{
    font-size: 1.25em;
    width: calc(var(--menu_v_width)*0.9);
    padding: 5px 10px;
    background-color: var(--color5);
    overflow-wrap: break-word;
    cursor: pointer;
}
.menu_v input[type=submit]{
    font-size: 1.25em;
    width: calc(var(--menu_v_width)*0.9);
    padding: 5px 10px;
    background-color: var(--color5);
    text-align: left;
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
}
.menu_v input[type=submit]:hover{
    background-image: linear-gradient(135deg, var(--color2), color-mix(in srgb, var(--color2),rgb(0, 247, 255)));
}
.filtro_container{
    border: 1px solid var(--color5);
    border-top: none;
    display: grid;
    padding: 0;
    font-size: 1.25em;
    overflow: hidden;
    transition: 250ms;
}
.caixa_filtros{
    overflow: hidden;
}
.filtro_container ul{
    display: grid;
    max-height: 500px;
    overflow-y: scroll;
    direction: ltr;
}
.filtro_container label{
    transition: 500ms;
}
.filtro_container ul::-webkit-scrollbar{
    display: none;
}
.filtro_container label:hover:first-child{
    backdrop-filter: brightness(1.25);
}
.filtro_container label.active{
    order: -1;
    background-image: linear-gradient(135deg, var(--color2), color-mix(in srgb, var(--color2),rgb(0, 247, 255)));
}
.filtro_container label{
    padding: 5px;
    cursor: pointer;
}

input[type="range"]{
    appearance:none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    background-color: transparent;
    
}

.range_preco{
    text-align: center;
    padding: 10px 10px 10px 10px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance:none;
    background-color: var(--color2);
    height: 5px;
    border-radius: 3px;
    
}
input[type="range"]::-webkit-slider-thumb{
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance:none;
    background: rgb(255, 255, 255);
    margin: -5px 0 0 0;
    height: 15px;
    width: 15px;
    border-radius: 100%;
}
input[type="range"]::-webkit-slider-thumb:hover{
    background: rgb(98, 121, 148);
}
.range_preco{
    font-size: 0.75em;
}
.range_preco input{ 
    margin-bottom: 9px;
}
main{
    width: calc(var(--100vw) - var(--menu_v_width));
}

#menu_v_label{
    display: none;
}
#fundo_menu{
    position: fixed; 
    height: var(--menu_h_height); 
    width: var(--menu_h_height); 
    background-color: var(--color1); 
    right:0; 
    top:0; 
    z-index: 1;
}
@media (max-width:600px) {
    ul.menu_v{
        transform: translate(100%);
        transition: 500ms;
    }
    ul.menu_h{
        width: calc(var(--100vw) - var(--menu_h_height));
    }
    div.menu{
        width: calc(var(--100vw));
    }
    main{
        width: var(--100vw);
    }
    #menu_v_label{
        z-index: 1;
        display: unset;
        position: fixed;
        background-color: color-mix(in srgb, var(--color1) , #ffffff00 1%);
        right: 0;
        line-height: var(--menu_h_height);
        width: var(--menu_h_height);
        text-align: center;
        font-size: 2em;
        color: white;
        cursor: pointer;
        border-radius: 15px 0 0 15px;
        transition: 500ms;
    }
    #menu_v_label:hover{
        font-size: 2.5em;
    }
    #menu_v_chec:checked~form ul.menu_v{
        background-color: color-mix(in srgb, var(--color1) , #ffffff00 1%);
        transform: translate(0);
    }
    #menu_v_chec:checked~#menu_v_label{
        transform: translate(calc(var(--menu_v_width)*-1));
    }
}