:root{
    --color1: #002E3D;
    --color2: #0086b3;
    --color3: #fffb00;
    --color4: #36ad3e;
    --color5: #003D52;
    --scrollbar-width: .625rem;
    --100vw: calc(100vw - var(--scrollbar-width));
    --menu_h_height: 3.125rem;
    --titulo_menu_height: 4.6875rem;
}
.alert{
    text-align: center;
    padding: .9375rem;
    font-size: 1.5em;
}
.alert_error{
    background-color: #ff0000;
}
.alert_success{
    background-color: var(--color4);
}
a{
    color: var(--color3);
}
.russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.titulo{
    font-size: 2em;
    text-indent: 1.5625rem;
}
body{
    overflow-y: scroll;
    background-color: var(--color5);
    color: white;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.naoselecionavel{
    -webkit-touch-callout: none;  
    -webkit-user-select: none;    
    -khtml-user-select: none;     
    -moz-user-select: none;       
    -ms-user-select: none;        
    user-select: none;  
}
.menu{
    z-index: 1;
    position: fixed;
    display: flex;
    background-color: var(--color1);
    list-style: none;
    justify-content: flex-start;
}
div.menu{
    display: flex;
    width: var(--100vw);
    top: var(--menu_h_height);
    background-color: var(--color5);
    height: var(--titulo_menu_height);
    align-items: center;
    padding: 0 1.5625rem;
    justify-content: flex-start;
}
div.menu a{
    text-decoration: none;
    color: unset;
}
div.menu a:last-child{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
}
div.menu i{
    position: absolute;
    font-size: 0.75em;
    text-indent: 0rem;
    transform: translateX(-1.25em);
}
div.menu img{
    height: 80%;
}
div.menu img:hover{
    filter: brightness(0.5);
}
ul.menu_h{
    width: var(--100vw);
    line-height: var(--menu_h_height);
    height: var(--menu_h_height);
    overflow-x: scroll;
    overflow-y: hidden;
}
ul.menu_h::-webkit-scrollbar{
    display: none;
}
ul.menu li{
    display: flex;
}
ul.menu a{
    background-color: inherit;
    line-height: inherit;
    padding: 0rem 3.125rem;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: 1s;
    height: fit-content;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}
ul.menu a:hover:not(.active){
    background-color: color-mix(in srgb, var(--color5), var(--color1));
    font-size: 2em;
}
ul.menu a.active{
    background-color: var(--color5);
    font-size: 2em;
    cursor: default;
}
.invisivel{
    display: none;
}
main{
    position: relative;
    transform: translatey(calc(var(--menu_h_height) + var(--titulo_menu_height)));
    width: var(--100vw);
}
main .loja{
    width: 100%;
    box-sizing: border-box;
    gap: .9375rem;
    padding: .9375rem 0;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
main .loja div img{
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: .3125rem;
}
main .loja div{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 18.75rem;
    height: 34.375rem;
    background-color: color-mix(in srgb, var(--color5) 75%, #808080 25%);
    border: .625rem solid color-mix(in srgb, var(--color5) 75%, #808080 25%);
    filter: brightness(1);
    transition: 500ms ease;
    border-radius: .3125rem;
}
main .loja div:hover{
    filter: brightness(0.75);
    transform: translateY(-0.625rem);
}
main .loja .avaliacao{
    position: absolute;
    bottom: 0rem;
    color: var(--color3);
}
main .loja a{
    color: unset;
    text-decoration: none;
}
main .loja div .nome{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 1.25em;
    overflow-wrap: break-word;
}

main .loja .preco_atual{
    position: absolute;
    bottom: 1.3125rem;
    font-size: 1.15em;
}
main .loja .preco_atual span{
    background-color: var(--color4);
    padding: 0 .3125rem;
}
main .loja .preco_antigo{
    position: absolute;
    bottom: 2.5625rem;
    font-size: 1em;
    text-decoration: line-through;
    color: var(--color2);
}
::-webkit-scrollbar{
    width: var(--scrollbar-width);
}
::-webkit-scrollbar-thumb{
    background: var(--color2);
    border: .1875rem solid var(--color1);
    border-radius: .9375rem;
}
::-webkit-scrollbar-track{
    background-color: var(--color1);
}
.formulario{
    transform: translateY(5.625rem);
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    width: var(--100vw);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
}
.formulario > div{
    background: var(--color1);
    padding: 6.25rem;
    padding-top: 0;
    border-radius: 3.125rem;
    margin-bottom: .9375rem;
    border: .3125rem solid var(--color2);
    box-shadow: inset 0rem 4.8125rem 0rem 0rem var(--color2);
}
.formulario > div div{
    position: relative;
}

.formulario h3{
    padding: 1.25rem;
    background-color: var(--color2);
}
.formulario div:not(:first){
    width: fit-content;
}
.formulario div:not(:first-child){
    margin-top: 1em;
}
.label_input_user {
    position: absolute;
    top: 0; /* ou bottom: calc(100% - 1.25em); */
    pointer-events: none;
    transition: 200ms;
}
.formulario input{
    padding: .3125rem 0;
    border: none;
    outline: none;
    border-bottom: .125rem solid var(--color2);
    font-size: 1em;
    color: white;
    background-color: transparent !important;
    transition: 500ms;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 1.875rem var(--color1) inset !important;
}
input:-webkit-autofill{
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
}
.input_user:focus + .label_input_user,
.input_user:not(:placeholder-shown) + .label_input_user{
    top: -1em;
    font-size: 0.75em;
}
.input_user:not(:valid):not(:placeholder-shown){
    border-color: #ff0000;
}
.formulario input[type='submit'], .formulario input[type='date']{
    padding: .9375rem;
}
.formulario input[type='submit']:hover{
    backdrop-filter: brightness(1.5);
    border-radius: .9375rem;
    
}
#nascimento input{
    border: none;
}
#nascimento p{
    background-color: #0086b3;
    border-radius: .625rem .625rem 0 0;
}
#nascimento{
    border: .125rem solid var(--color2);
    border-radius: .9375rem;
}
input[type = 'file']{
    font-size: 0.75em;
    width: 18.75rem;
}
.circle_img{
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}
input[type="submit"]{
    cursor: pointer;
}
.submit_botao{
    margin-bottom: .625rem;
    font-size: .75em;
    background: none;
    color: unset;
    padding: .625rem;
    border-radius: .625rem;
    border: .125rem solid var(--color2);
    transition: .5s;
}
.submit_botao:hover{
    background-color: var(--color2);
}
.submit_alert{
    border: .125rem solid red;
}
.submit_alert:hover{
    background-color: red;
}

@media only screen and (max-width: 37.5rem) {
    :root{
        --100vw: 100vw;
        --menu_h_height: 2.8125rem;
    }
    ::-webkit-scrollbar{
        display: none; 
    }
    ul.menu_h{
        font-size: .75em;
    }
    ul.menu a{
        padding: 0rem 1.25rem;
    }
    .formulario{
        font-size: 1.5em;
    }
    .formulario > div{
        background: var(--color1);
        padding: 2.5rem;
        padding-top: 0;
        border-radius: 1.5625rem;
        box-shadow: inset 0rem 3.125rem 0rem 0rem var(--color2);
    }
    
    .formulario h3{
        padding: .5rem;
        background-color: var(--color2);
    }
    .formulario div:not(:first){
        width: fit-content;
    }
    .formulario div:not(:first-child){
        margin-top: 1.5em;
    }
    .formulario input{
        font-size: .75em;
    }
    .formulario div~p{
        font-size: .8em;
        max-width: 75vw;
    }
}
