:root{
    --color1: #002E3D;
    --color2: #0086b3;
    --color3: #fffb00;
    --color4: #36ad3e;
    --color5: #003D52;
    --scrollbar-width: 10px;
    --100vw: calc(100vw - var(--scrollbar-width));
    --menu_h_height: 50px;
    --titulo_menu_height: 75px;
}
.alert{
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
}
.alert_error{
    background-color: #ff0000;
}
.alert_success{
    background-color: var(--color4);
}
a{
    color: var(--color3);
}
.russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.titulo{
    font-size: 2em;
    text-indent: 25px;
}
body{
    overflow-y: scroll;
    background-color: var(--color5);
    color: white;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.naoselecionavel{
    -webkit-touch-callout: none;  
    -webkit-user-select: none;    
    -khtml-user-select: none;     
    -moz-user-select: none;       
    -ms-user-select: none;        
    user-select: none;  
}
.menu{
    z-index: 1;
    position: fixed;
    display: flex;
    background-color: var(--color1);
    list-style: none;
    justify-content: flex-start;
}
div.menu{
    display: flex;
    width: var(--100vw);
    top: var(--menu_h_height);
    background-color: var(--color5);
    height: var(--titulo_menu_height);
    line-height: var(--titulo_menu_height);
    padding: 0 25px;
}
div.menu a{
    line-height: var(--titulo_menu_height);
    text-decoration: none;
    color: unset;
}
div.menu i{
    position: absolute;
    font-size: 0.75em;
    text-indent: 0px;
    transform: translateX(-1.25em);
}
div.menu img{
    position: absolute;
    right: 0;
    height: 100%;
    padding: 10px;
    align-items: center;
    transition: 500ms;
}
div.menu img:hover{
    filter: brightness(0.5);
}
ul.menu_h{
    width: var(--100vw);
    line-height: var(--menu_h_height);
    height: var(--menu_h_height);
    overflow-x: scroll;
    overflow-y: hidden;
}
ul.menu_h::-webkit-scrollbar{
    display: none;
}
ul.menu li{
    display: flex;
}
ul.menu a{
    background-color: inherit;
    line-height: inherit;
    padding: 0px 50px;
    border-radius: 20px 20px 0 0;
    transition: 1s;
    height: fit-content;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}
ul.menu a:hover:not(.active){
    background-color: color-mix(in srgb, var(--color5), var(--color1));
    font-size: 2em;
}
ul.menu a.active{
    background-color: var(--color5);
    font-size: 2em;
    cursor: default;
}
.invisivel{
    display: none;
}
main{
    transform: translatey(calc(var(--menu_h_height) + var(--titulo_menu_height)));
    width: var(--100vw);
}
main .loja{
    width: 100%;
    box-sizing: border-box;
    gap: 15px;
    padding: 15px 0;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
main .loja div img{
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: 5px;
}
main .loja div{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 300px;
    height: 550px;
    background-color: color-mix(in srgb, var(--color5) 75%, #808080 25%);
    border: 10px solid color-mix(in srgb, var(--color5) 75%, #808080 25%);
    filter: brightness(1);
    transition: 500ms ease;
    border-radius: 5px;
}
main .loja div:hover{
    filter: brightness(0.75);
    transform: translateY(-10px);
}
main .loja .avaliacao{
    position: absolute;
    bottom: 0px;
    color: var(--color3);
}
main .loja a{
    color: unset;
    text-decoration: none;
}
main .loja div .nome{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 1.25em;
    overflow-wrap: break-word;
}

main .loja .preco_atual{
    position: absolute;
    bottom: 21px;
    font-size: 1.15em;
}
main .loja .preco_atual span{
    background-color: var(--color4);
    padding: 0 5px;
}
main .loja .preco_antigo{
    position: absolute;
    bottom: 41px;
    font-size: 1em;
    text-decoration: line-through;
    color: var(--color2);
}
::-webkit-scrollbar{
    width: var(--scrollbar-width);
}
::-webkit-scrollbar-thumb{
    background: var(--color2);
    border: 3px solid var(--color1);
    border-radius: 15px;
}
::-webkit-scrollbar-track{
    background-color: var(--color1);
}
.formulario{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: var(--100vw);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
    height: calc(100vh - var(--menu_h_height));
}
.formulario > div{
    background: var(--color1);
    padding: 100px;
    padding-top: 0;
    border-radius: 50px;
    margin-bottom: var(--titulo_menu_height);
    border: 5px solid var(--color2);
    box-shadow: inset 0px 77px 0px 0px var(--color2);
}

.formulario h3{
    padding: 20px;
    background-color: var(--color2);
}
.formulario div:not(:first){
    width: fit-content;
}
.formulario div:not(:first-child){
    margin-top: 1em;
}
.label_input_user{
    position: absolute;
    transform: translateY(-1.25em);
    pointer-events: none;
    transition: 200ms;
}
.formulario input{
    padding: 5px 0;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--color2);
    font-size: 1em;
    color: white;
    background-color: transparent !important;
    transition: 500ms;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--color1) inset !important;
}
input:-webkit-autofill{
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
}
.input_user:focus + .label_input_user,
.input_user:not(:placeholder-shown) + .label_input_user{
    transform: translateY(-4rem);
    font-size: 0.75em;
}
.input_user:not(:valid):not(:placeholder-shown){
    border-color: #ff0000;
}
.formulario input[type='submit'], .formulario input[type='date']{
    padding: 15px;
}
.formulario input[type='submit']:hover{
    backdrop-filter: brightness(1.5);
    border-radius: 15px;
    
}
#nascimento input{
    border: none;
}
#nascimento p{
    background-color: #0086b3;
    border-radius: 10px 10px 0 0;
}
#nascimento{
    border: 2px solid var(--color2);
    border-radius: 15px;
}
input[type = 'file']{
    font-size: 0.75em;
    width: 300px;
}
.circle_img{
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}
input[type="submit"]{
    cursor: pointer;
}
.submit_botao{
    margin-bottom: 10px;
    font-size: .75em;
    background: none;
    color: unset;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--color2);
    transition: .5s;
}
.submit_botao:hover{
    background-color: var(--color2);
}
.submit_alert{
    border: 2px solid red;
}
.submit_alert:hover{
    background-color: red;
}
